.contenedor {
    display: flex;
    justify-content: center;
    font-size: 2rem ;
}

.contenidos {
    margin: 2em 0;
    /* border : 2px solid blue; */
    width: 45em ;
}

.titulo-contenedor {
    background-color: var(--color-terciario);
    height: 3em;
    padding-left: 1em;
}

.editar-contenedor {
    background-color: white;
    padding: 2em 4em;
    
}

.tabla-contenedor {
    border: 0.1em solid var(--color-secundario);
    overflow-y: scroll; 
    margin-bottom: 1em;
}


.tabla-ingredientes {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.8em;
}

.tabla-ingredientes th {
    background-color: var(--color-secundario);
    color: white;
    height: 1.9em;
}

.tabla-ingredientes tr td {
    border-top: 0.1em solid var(--color-secundario);
    height: 1.5em;
}

.aceptar-cancelar {
    margin-top: 1.5em;
    display: flex;
    justify-content: flex-end;

}

.input {
    width: 100%;
    height: 1.5em;
}

