* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --ancho-default: 66vw;
    --border-default: 0.2rem solid var(--color-secundario);
    --border-menor: 0.1rem solid var(--color-secundario);
}

html,
body {
    font-size: 10px;
    font-family: var(--tipografia);
    background-color: var(--color-cuaternario);
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header,
main,
footer {
    flex-shrink: 0;
}

.header-container {
    color: white;
    background-color: var(--color-primario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.header {
    width: var(--ancho-default);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_container {
    display: flex;
    align-items: center;
}

.header_logo_imagen {
    height: 3.2rem;
    width: 3.2rem;
}

.header_logo_titulo {
    font-size: 2.2rem;
    margin: 1rem;
}

.header_links {
    font-size: 2rem;
    width: 9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.header_icono_exit {
    width: 2.5rem;
    height: 2.5rem;
}

.nav_container {
    font-size: 2rem;
    color: black;
    background-color: var(--color-terciario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.nav {
    width: var(--ancho-default);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav_titulo {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.nav_busqueda {
    display: flex;
}

.nav_barra {
    width: 58vw;
    height: 1.8em;
    margin: 0.5rem;
    border: var(--border-menor);
    border-radius: 0.3em;
}

.nav_button {
    background-color: var(--color-botonprofe);
    color: white;
    border: 0.15em solid #e2711d;
    border-radius: 0.5em;
    width: 9em;
    height: 2.5em;
    margin-left: 1rem;
}

.nav_checkbox_container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.nav_checkbox_descripcion {
    font-size: 1.5rem;
    margin: 0 0 0.3rem 1rem;
}

.card_grid_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card_grid_titulo {
    width: var(--ancho-default);
    margin: 4rem 0 0 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.card_grid {
    width: var(--ancho-default);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}

.card_grid_item {
    height: 10rem;
    width: 26rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    background-color: white;
    justify-content: flex-start;
}

.card_grid_item>img {
    width: 8rem;
    height: 8rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.edicion_eliminar {
    border: var(--border-default);
}

.info_receta_container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 1rem;
}

.info_receta_titulo {
    font-size: 1.9rem;
    font-weight: bold;
}

.info_receta_descripcion {
    width: 15rem;
    display: flex;
    line-height: 2rem;
    justify-content: space-between;
}

.info_receta_descripcion_texto {
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: 1.5rem;
}

.info_receta_descripcion_iconos {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
}

.info_receta_descripcion_iconos>img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.1rem;
}

.card_grid_agregar {
    display: flex;
    justify-content: flex-end;
    width: var(--ancho-default);
    margin: 2rem 0;
}

.card_grid_agregar_icono {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: flex-end;
}

.main-footer {
    background-color: #868584;
    color: white;
    display: flex;
    justify-content: center;
}

.footer {
    width: var(--ancho-default);
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer>img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.1rem;
}

.footer_texto {
    margin-left: 1rem;
}