
:root {
    /* --color-primario: #fff0f0;
    --color-secundario: #ffc4c4; */
    --color-primario: #596475;
    --color-secundario: #9d8189;
    --color-terciario: #e3bac6;
    --color-cuaternario: #fde8e9;
    --color-secundario-texto: white;
    --color-background-form: var(--color-secundario-texto);
    --color-background-button: #f79256;
    --color-background-button-secondary: #aa4465;
    --background-footer: #d1d1d1;
    /* --fuente-titulo-primario: Brush Script MT;
    --fuente-default: 'Baloo Tamma 2', cursive; */
    --fuente-titulo-primario: 'Lato', sans-serif;
    --fuente-default: 'Lato', sans-serif;
    --borde-default: 3px solid var(--color-secundario);


}

body {
    height: 100vh;
    margin:0;
    box-sizing: border-box;
    display: grid;
    gap: 3px;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-columns: 1fr;
    font-size: 100%;
    font-family: var(--fuente-default);
    line-height: 1.5;
    background-color: var(--color-cuaternario);
    grid-template-areas: 
    "header"
    "contenido"
    "footer"
    ;
}

/* header end */

.main-header {
    background-color: var(--color-primario);
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    grid-area: header;
    margin: 0rem 0rem 3rem 0rem;
}

.main-header__nav {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 10rem;
 }

 .main-header__nav-link {
    color: var(--color-secundario-texto);
}

.main-header__nav-link:hover {
    filter: brightness(75%);
}

.main-header__titulo {
    color: var(--color-cuaternario);
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 3rem;
    -webkit-text-stroke: 0.5px black; /* esto hace el texto con bordes */
    padding: 0;
    margin: 0;
}

.main-header__links {
display: flex;
justify-content: space-around;
align-content: center;
width: 9em;
height: 2em;
}

.img {
    width: 2rem;
    height: 2rem;
}

.img:hover {
    filter: brightness(75%);
}

/* header end */

.main-contenido {
    display: flex;
    justify-content: center;
    grid-area: contenido;
}


.main-form {
    background-color: var(--color-background-form);
    border-radius: 3rem;
    width: 60rem;
    height: 52rem;
    margin: 0 0 3rem 0;
}

/* section 1 start */

.main-form__header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-terciario);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem 2rem 1rem 1.5rem;
    height: 4rem;
}

.main-form__header-h2 {
    margin: 0;
}

.main-form__state {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 11em;
    margin: 1.5em;
    background-color: var(--color-terciario);
}

.main-form__state-text {
    font-size: 1.05em;
    padding: 0.5em 0em 0em 0em;
    height: 1.5em;
}

/* section 1 end */

/* section 2 start */
.main-form__regular-inputs {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: 
    ".  label-peso          input-peso          .   label-estatura      input-estatura    ."
    ".  .                   .                   .   .                   .                 ."
    ".  label-nacimiento    input-nacimiento    .   label-rutina        input-rutina      .";
    padding: 1.3em;
}

.main-form__label-peso {
    grid-area: label-peso;
}

.main-form__label-estatura {
    grid-area: label-estatura;
}

.main-form__label-nacimiento {
    grid-area: label-nacimiento;
}

.main-form__label-rutina {
    grid-area: label-rutina;
}

.main-form__input-peso {
    grid-area: input-peso;
}

.main-form__input-estatura {
    grid-area: input-estatura;
}

.main-form__input-nacimiento {
    grid-area: input-nacimiento;
}

.main-form__input-rutina {
    grid-area: input-rutina;
}

/* section 2 end */

.main-form__input {
    border-radius: 0.3em;
    border-color: var(--color-secundario);
}

/* section 3 start */

.main-form__input--checkbox {
    border-radius: 0.5em;
    
}

.main-form__condiciones {
    display:flex;
    flex-direction: column;
    margin: 0rem 2rem;
}

.main-form__checkboxes {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
    grid-template-areas: 
    "input-diabetico    .    input-celiaco      .   input-vegano"
    ".                  .    .                  .   ."
    "input-hipertenso   .    input-vegetariano  .   .";
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    border: 2px solid var(--color-secundario);
}

.main-form__input-diabetico {
    grid-area: input-diabetico;
    display: flex;
}

.main-form__input-celiaco {
    grid-area: input-celiaco;
    display: flex;
}

.main-form__input-vegano {
    grid-area: input-vegano;
    display: flex;
}

.main-form__input-hipertenso {
    grid-area: input-hipertenso;
    display: flex;
}

.main-form__input-vegetariano {
    grid-area: input-vegetariano;
    display: flex;
}

/* section 3 end */

/* section 4 start */

h4 {
    font-size: 1em;
}

.main-form__alimentos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "alimentos-preferidos   alimentos-no-preferidos";
    align-content: center;
}

.main-form__table-and-title {
    margin: 1em 3em;
}

.table__title-and-button {
    display: flex;
    justify-content: space-evenly;
}

.main-form__buttom-table {
    width: 5em;
    height: 2em;
    margin: 1.5em 0em 0em 0em;
    background-color: var(--color-background-button);
    color: var(--color-secundario-texto);
    border-radius: 0.5em;
}

.main-form__buttom-table:hover {
    filter: brightness(75%);
}

.main-form__table {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cell-header-table"
    "cell-item-1-table"
    "cell-item-2-table";
    border-color: var(--color-secundario);
    border-style: solid;
    border-radius: 0.5rem;
}

.header-table {
    grid-area: cell-header-table;
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
    padding: 0.2em;
    margin: 0.3em;
    border-color: var(--color-secundario);
    color: white;
}

.item-1-table {
    grid-area: cell-item-1-table;
}

.item-2-table {
    grid-area: cell-item-2-table;
}

.item-table {
    padding: 0.2em;
    margin: 0.3em;
    border-color: var(--color-secundario);
    display: flex;
    justify-content: space-evenly;
    border-color: var(--color-secundario);
    border-style: solid;
    border-radius: 1em;
}

.centrar-img {
    margin: 0em 0.9em 0em 0em;
}

/* section 4 end */

/* section 5 start */

h5 {
    margin: 0em 0em 0em 3em;
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

.main-form__recetas {
    display: flex;
    justify-content: space-around;
}

.main-form__item-receta {
    display: grid;
    border-color: var(--color-secundario);
    border-style: solid;
    border-radius: 0.8em;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-areas: 
    "image  title       title"
    "image  calorias    editar"
    "image  dificultad  borrar";
    height: 6em;
    width: 15em;
    margin: 1em;
}

.receta-image {
    grid-area: image;
    width: 4em;
    height: 5em;
    padding: 0.5em;
    border-radius: 1em;
}

.receta-title {
    grid-area: title;
    font-size: 1em;
    margin: 0;
    padding: 0.3em;
    height: 1.5em;
}

.receta-calorias {
    grid-area: calorias;
    font-size: 0.9em;
    margin: 0em 1.2em 0.3em 0em;
}

.receta-dificultad {
    grid-area: dificultad;
    font-size: 0.9em;
    margin: 0em 0em 0.7em 0em;
}

.receta-editar {
    grid-area:editar;
    height: 2em;
    width: 2em;
}

.receta-borrar {
    grid-area: borrar;
}

.image-buttom {
    width: 1.5em;
    height: 1.5em;
}

.image-buttom:hover {
    filter: brightness(75%);
}

.main-form__buttom-table--secondary {
    background-color: var(--color-background-button-secondary);
}

.main-form__buttom-table--secondary:hover {
    filter: brightness(75%);
}

.buttoms-end-form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  50fr 5fr 1fr 5fr 3fr;
    grid-template-areas: 
    ".  aceptar .   cancelar    .";
    width: 100%;
}

.aceptar-buttom {
    grid-area: aceptar;
}

.aceptar-buttom:hover {
    filter: brightness(75%);
}

.cancelar-buttom {
    grid-area: cancelar;
}

.cancelar-buttom:hover {
    filter: brightness(75%);
}

/* section 5 end */

.main-footer {
    display: flex;
    justify-content: center;
    background-color:#868584;
    color: white;
    grid-area: footer;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    font-size: 1rem;
}
.main-footer__image {
    display: flex;
    align-self: center;
    margin-right: 1em;
}

@media (max-width:966px) {
    .main-form {
        height: auto;
        width: auto;
    }
}

@media (max-width:843px) {
    .main-form__recetas {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 8em;
    }
    h5 {
        margin-left: 9em;
    }
}

@media (max-width:757px) {
    h4 {
        font-size: 0.9em;
    }

    .main-form__recetas {
        padding-left: 4em;
    }
}
