.navegacion-contenedor {
font-size: 2rem ;
color: var(--color-cuaternario);
background-color: var(--color-primario);
padding: 1rem 0;
display: flex;
justify-content: center;
}

.navegacion {
    width: 45em;
    display: flex;
    justify-content: space-between;
}

.links {
    width: 10em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tamaño-icono-exit {
    width : 1.8em ;
    height : auto ; 
}

.img-fajita {
    width: 10em;
    height: auto;
    border-radius: 0.5em;

}

.contenedor {
    display: flex;
    justify-content: center;
    font-size: 2rem ;
}

.contenidos {
    margin: 2em 0;
    /* border : 2px solid blue; */
    width: 45em ;
}

.titulo-contenedor {
    background-color: var(--color-terciario);
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
}

.descripcion {
    text-align: right;
    margin-right: 1em ;
}

.titulo {
    font-size: 1.5em;
    font-weight: 600;
}

.autor {
    font-size: 0.8em;
    margin-bottom: 2em;
}

.inadecuado {
    font-size: 0.8em ;
}

.editar-contenedor {
    background-color: white;
}

.inputs-contenedor {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.calorias {
    font-size: 0.8em;
    font-weight: 800;    
}

.dificultad {
    font-size: 0.8em;
    font-weight: 800;
}

.input {
    width: 10em;
    height: 2em;
    padding: 0em;
    border: 0.15em solid var(--color-terciario) ;
    box-sizing: border-box;
}

.tablas-contenedor {
    display: flex;
    justify-content: space-evenly;
}

.separacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.tabla{
    font-size: 0.8em;
}

.img-eliminar {
    width: 1.5em;
    height: 1.5em;
}

.ancho-columna {
    width: 8em ;
}

.tabla-pasos {
    width: 25em;
}

.button {
    background-color: var(--color-botonprofe);
    color: white;
    border: 0.15em solid #e2711d;
    border-radius: 0.5em;
    width: 6em;
    height: 2.5em;
}

.espacio {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 3.4em;
}

.tabla-contenedor {
    height: 4em; 
    margin: 1.5em 3.4em;
    border: 0.1em solid var(--color-secundario);
    overflow-y: scroll; 
}

.tabla-colaboradores {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.8em;
}

.tabla-colaboradores th {
    background-color: var(--color-secundario);
    color: white;
}

.tabla-colaboradores tr td {
    border-top: 0.1em solid var(--color-secundario);
}

.aceptar-cancelar {
    margin: 1.5em 3.4em;
    display: flex;
    justify-content: flex-end;

}

.boton-cancelar {
    background-color: var(--boton-cancelar) ;
    color: white;
    border: 0.15em solid #5f0f40;
    border-radius: 0.5em;
    width: 6em;
    height: 2.5em;
    margin-bottom: 2em;
}

.horizontal {
display: flex;
}

.centrado {
    margin: auto;
}

.logo {
    height: 2em;
}

.alinear {
    display: flex;
    align-items: center;
}


