
.header-container {
    color: white;
    background-color: var(--color-primario);
    padding: 0.3rem 0;
    display: flex;
    justify-content: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_logo_container {
    display: flex;
    align-items: center;
  }
  
  .header_logo_imagen {
    height: 3.2rem;
    width: 3.2rem;
  }
  
  .header_logo_titulo {
    font-family: 'Lobster', cursive;
  }
  
  .header_links>img {
    width: 2.5rem;
    height: 2.5rem;
  }


  @media (min-width: 769px) {
    .header {
        width: var(--ancho-default);
    }
    .header_links {
        font-size: 2rem;
        width: 9em;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
    .header_icono_home,
    .header_icono_perfil,
    .header_links_fila_menu,
    .salir {
        display: none;
    }
    .header_logo_titulo {
        font-size: 2.7rem;
        margin: 1rem;
    }
  }
  
  @media all and (max-width: 768px) and (min-width: 401px) {
    .header {
        width: var(--ancho-mayor);
    }
    .header_logo_titulo {
        font-size: 2.1rem;
        margin: 1rem;
    }
    .header_links {
        font-size: 2rem;
        width: 9em;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
    .header_icono_home,
    .header_icono_perfil,
    .header_links_fila_menu,
    .salir {
        display: none;
    }
  }
  
  @media all and (max-width: 400px) {
    .header {
        width: var(--ancho-mayor);
    }  
    .header_logo_titulo {
        font-size: 2.2rem;
        margin: 1rem 0;
    }
    .header_logo_imagen,
    .header_icono_exit1 {
        display: none;
    }
    .header_links {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 13px;
        z-index: 1;
        background-color: var(--color-primario);
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .header_links_fila>img,
    .header_links_fila_menu>img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .header_links_fila,
    .header_links_fila_menu {
        width: 10rem;
        display: flex;
        justify-content: space-between;
    }
    .header_links_fila {
        margin: 1.2rem 2rem;
    }
    .header_links_fila_menu {
        justify-content: flex-end;
        margin-bottom: 1.5rem;
    }
    .header_links_texto {
        padding-top: 0.2rem;
        color: white;
    }
  }