
<header *ngIf="!estaEnLogin()" class="header-container">
    <div class="header">
        <div class="header_logo_container">
            <img class="header_logo_imagen" src="assets/imagenes/logo_chef_2 (1).png">
            <div class="header_logo_titulo">Food Overflow</div>
        </div>
        <div class="header_links">
            <div class="header_links_fila_menu">
                <img class="header_icono_menu" src="assets/imagenes/bars-solid.svg" alt="Icono Menu">
            </div>
            <div class="header_links_fila">
                <img class="header_icono_home" src="assets/imagenes/home-solid.svg" alt="Icono Home">
                <div class="header_links_texto" [routerLink]="['/home']" [routerLinkActive]="'active'">Home</div>
            </div>
            <div class="header_links_fila">
                <img class="header_icono_perfil" src="assets/imagenes/user-solid.svg" alt="Icono Perfil">
                <div class="header_links_texto" [routerLink]="['/perfilDeUsuario']" [routerLinkActive]="'active'">Perfil</div>
            </div>
            <div class="header_links_fila salir">
                <img class="header_icono_exit" src="assets/imagenes/sign-out-alt-solid.svg" alt="Icono Exit">
                <div class="header_links_texto">Salir</div>
            </div>       
            <img class="header_icono_exit1" src="assets/imagenes/sign-out-alt-solid.svg" alt="Icono Exit" [routerLink]="['/login']" [routerLinkActive]="'active'">         
        </div>
    </div>
</header>