.cardLogin {
    width: 35rem;
    

}

.centrado {
   height: 90%;
   display: flex; 
   justify-content: center;
   align-items: center;
}

.titulo {
    font-family: var(--tipografia);
    text-align: center;
    font-size: 4em;
    font-weight: bold;

}