* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
}

.colorSeleccionado {
    background-color: violet;
}

@media (min-width: 769px) {
    .main_contenidos {
        width: var(--ancho-default);
    }
    .main_contenidos {
        margin: 2em 0;
    }
    .tabla-contenido,
    .tabla_alimentos_botones {
        width: var(--ancho-menor);
    }
    .tabla_alimentos_botones {
    margin-bottom: 3rem;
    }
    .tabla-contenido {
        height: 9em;
    }
}

@media all and (max-width: 768px) and (min-width: 401px) {
    .main_contenidos {
        width: var(--ancho-medio-agregar);
        margin: 2em 0;
    }
    .tabla-contenido,
    .tabla_alimentos_botones {
        width: var(--ancho-default);
    }
    .tabla_alimentos_botones {
        margin-bottom: 3rem;
    }
    .tabla-contenido {
        height: 9em;
    }
}

@media all and (max-width: 400px) {
    .main_contenidos {
        width: var(--ancho-mayor);
    }
    .main_contenidos {
        margin: 1.5em 0;
    }
    .main_titulo_texto {
        font-size: 2.8rem;
    }
    .tabla-contenido,
    .tabla_alimentos_botones {
        width: var(--ancho-medio-agregar);
    }
    .tabla_alimentos_botones {
        margin-bottom: 1rem;
    }
    .tabla-contenido {
        height: 100%;
    }
    body {
        overflow: hidden;
    }
/*  .header-container,
    .main-footer {
        flex: 0 0 auto;
    } */
    main {
        flex: 1 1 auto;
        position: relative;
        overflow-y: auto;
    }
}

.main_container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.main_contenidos {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.main_titulo {
    height: 6.5rem;
    font-weight: bold;
    font-size: 3rem;
    background-color: var(--color-terciario);
    border-radius: 0.5rem 0.5rem 0 0;
}

.main_titulo_texto {
    padding: 0.5rem 0 0 1.5rem;
}

.tabla_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabla-contenido {
    height: 18rem;
    margin: 1.5em 3.4em;
    border: 0.1em solid var(--color-secundario);
    overflow-y: scroll;
}

.tabla-alimentos {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.8em;
}

.tabla-alimentos th {
    background-color: var(--color-secundario);
    color: white;
    padding: 0.5rem 0;
}

.tabla-alimentos tr td {
    border-top: 0.1em solid var(--color-secundario);
    border-bottom: 0.1em solid var(--color-secundario);
    padding: 0.5rem 0;
}

.tabla_alimentos_botones {
    display: flex;
    justify-content: flex-end;
} 