
<header class="header-container">
    <div class="header">
        <div class="header_logo_container">
            <img class="header_logo_imagen" src="../imagenes/logo_chef_2 (1).png">
            <div class="header_logo_titulo">Food Overflow</div>
        </div>
        <div class="header_links">
            <div class="header_links_fila_menu">
                <img class="header_icono_menu" src="../imagenes/bars-solid.svg" alt="Icono Menu">
            </div>
            <div class="header_links_fila">
                <img class="header_icono_home" src="../imagenes/home-solid.svg" alt="Icono Home">
                <div class="header_links_texto">Home</div>
            </div>
            <div class="header_links_fila">
                <img class="header_icono_perfil" src="../imagenes/user-solid.svg" alt="Icono Perfil">
                <div class="header_links_texto">Perfil</div>
            </div>
            <div class="header_links_fila salir">
                <img class="header_icono_exit" src="../imagenes/sign-out-alt-solid.svg" alt="Icono Exit">
                <div class="header_links_texto">Salir</div>
            </div>       
            <img class="header_icono_exit1" src="../imagenes/sign-out-alt-solid.svg" alt="Icono Exit">         
        </div>
    </div>
</header>