
.main-form__label-and-chkbx {
    display: flex;
    font-size: 1.4em;
}

.main-form__input {
    border-radius: 0.3em;
    border-color: var(--color-secundario);
    max-height: 1.5em;
    margin: 0 1em;
    width: 58%;
}

.main-form__input--checkbox {
    border-radius: 0.5em;  
}