.p-datatable .p-datatable-thead > tr > th {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: var(--color-terciario);
    background-color: var(--color-secundario);
}

.p-datatable .p-datatable-tbody > tr > td {
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: var(--color-terciario);
}

.p-datatable {
    width: 90%;
}

.table {
    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    position: relative;
    left: 10%;
    height: 50%;
    top: 25%;
    background-color: white;
}

.container-button {
    display: flex;
    justify-content: end;
    margin: 3em 1em 0 0;
}

.span-busqueda {
    display: flex;
    font-size: 1.5em;
    font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI';
    position: relative;
    left: 15%;
    font-weight: bold;
}

.table-and-button {
}

.p-menu {
    position: absolute;
    z-index: 1;
}