.p-datatable .p-datatable-thead > tr > th {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: var(--color-terciario);
    background-color: var(--color-secundario);
}

.p-datatable .p-datatable-tbody > tr > td {
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: var(--color-terciario);
}

.p-datatable {
    width: 90%;
}

.table {
    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    position: relative;
    left: 10%;
    height: 55%;
    top: 8%;
    background-color: white;
    border-radius: 2em;
}

.container-button {
    display: flex;
    justify-content: end;
    margin: 2em 1em;
}

.span-busqueda {
    display: flex;
    font-size: 1.5em;
    font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI';
    position: relative;
    left: 5%;
    font-weight: bold;
}

.table-and-button {
    background-color: white;
    border-radius: 2em;
}

.p-menu {
    position: absolute;
    z-index: 1;
}

.inputtext-contactos {
    margin-left: 1em;
    width: 77%;
}

.input-and-button {
    position: relative;
    left: 2.5%;
}

.header-search {
    font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI';
    width: 80%;
    position: relative;
    left: 5%;    
}

.search-and-button {
    margin-bottom: 1.2em;
}
