<div class="body">
    <form class="main-form">
        <h1 class="main-form__titulo">Food Overflow</h1>
        <div class="input-usuario">
            <label class="main-form__label" for="usuario">Usuario</label><br>
            <input (value)="userValue" type="text" id="usuario" placeholder="Nombre de usuario" class="main-form__input">
        </div>
        <div class="input-password">
            <label class="main-form__label" for="Contrasenia">Contraseña</label><br>
            <input (value)="password" type="password" id="Contrasenia" placeholder="Contraseña" class="main-form__input">
        </div>
        <app-primary-button [nombre]="'Ingresar'"></app-primary-button>
    </form>
</div>

<button (click)="navegarHaciaPrefilUsuario()">Navegar a perfil de usuario</button>

