.nav-button {
    background-color: var(--color-botonprofe);
    color: white;
    border: 0.1rem solid #e2711d;
    border-radius: 0.6rem;
    width: 13rem;
    height: 3.25rem;
    font-size: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
}
.nav-button:hover {
    filter: brightness(75%);
}