<body>
    <div class="page">
        <!-- header -->
        <div class="contenido">
            <nav class="nav_container">
                <app-nav-busqueda></app-nav-busqueda>
            </nav>
            <div class="card_grid_container">
                <div class="card_grid_titulo">Resultados de la búsqueda</div>
                <div class="card_grid">
                    <app-card-receta *ngFor="let receta of recetas | recetaFilter: recetaABuscar" [receta]="receta"></app-card-receta>
                </div>
                <div class="card_grid_agregar">
                    <div class="card_grid_agregar_icono">
                        <img src="assets/imagenes/plus-circle-solid.svg" alt="Agregar">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- footer -->
</body>    