<div class="page">
    <div class="contenido">
        <app-nav-busqueda (buttonClicked)="recibirRecetaABuscar($event)"
            (buttonClicked2)="recibirEstadoCheckbox($event)">
        </app-nav-busqueda>
        <div class="card_grid_container">
            <div class="card_grid_titulo">Resultados de la búsqueda</div>
            <div class="card_grid">
                <app-card-receta
                    *ngFor="let receta of recetas | recetaFilter: recetaABuscar: isChecked: usuarioLogueado"
                    [receta]="receta" [usuarioLogueado]="usuarioLogueado"></app-card-receta>
            </div>
        </div>
    </div>
    <div class="card_grid_agregar_container">
        <div class="card_grid_agregar">
            <div class="card_grid_agregar_icono">
                <img src="assets/imagenes/plus-circle-solid.svg" alt="Agregar">
            </div>
        </div>
    </div>
</div>