<div class="contenedor">
  <div class="contenidos">
    <section class="titulo-contenedor">
      <img class="img-receta" src="{{'../../../assets/imagenes/'+ receta.imagen}}">
      <section class="descripcion">
        <div class="titulo">{{receta.nombreDelPlato}}</div>
        <div class="autor">{{receta.autor.nombreYApellido}}</div>
        <div class="inadecuado">
          <b>Inadecuado para </b>
          <!-- <span *ngFor="let condicion of receta.condicionesInadecuadasReceta()">{{condicion.nombre() + "s "}}</span> -->
        </div>
      </section>
    </section>
    <section class="editar-contenedor">
      <section class="inputs-contenedor">
        <div class="calorias">
          <b>Total de calorias</b>
          <input [disabled]="!receta.esEditablePor(usuarioLogueado)" [(ngModel)]="receta.calorias" class="input"
            type="number" id="calorias" placeholder="500" max="4000">
        </div>
        <div class="dificultad">
          <b>Dificultad</b>
          <select [disabled]="!receta.esEditablePor(usuarioLogueado)" [(ngModel)]="receta.dificultad" class="input"
            id="dificultad">
            <option value="FACIL">Facil</option>
            <option value="MEDIA">Media</option>
            <option value="DIFICIL">Dificil</option>
          </select>
        </div>
      </section>
      <section class="tablas-contenedor">
        <div class="ingredientes">
          <div class="separacion">
            <b>Ingredientes</b>
            <button *ngIf="receta.esEditablePor(usuarioLogueado)" [routerLink]="['/agregarIngrediente']"
              class="button button-escritorio">Agregar</button>
            <button *ngIf="receta.esEditablePor(usuarioLogueado)" [routerLink]="['/agregarIngrediente']"
              class="button-mobile">
              <img class="signo-mas" src="assets/imagenes/plus-circle-solid.svg">
            </button>
          </div>
          <div>
            <table class="tabla">
              <tr *ngFor="let ingrediente of receta.ingredientes">
                <td class="ancho-columna">{{ingrediente.alimento.nombre}}</td>
                <td class="ancho-columna">{{ingrediente.cantidad}}</td>
                <td>
                  <img *ngIf="receta.esEditablePor(usuarioLogueado)" (click)="eliminarIngrediente(ingrediente)"
                    class="img-eliminar" src="../../../assets/imagenes/eliminar.png">
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="pasos">
          <div class="separacion">
            <b>Pasos</b>
            <button *ngIf="receta.esEditablePor(usuarioLogueado)" class="button button-escritorio">Agregar</button>
            <button *ngIf="receta.esEditablePor(usuarioLogueado)" class="button-mobile">
              <img class="signo-mas" src="assets/imagenes/plus-circle-solid.svg">
            </button>
          </div>
          <div>
            <table class="tabla tabla-pasos">
              <tr *ngFor="let paso of receta.procesoDePreparacion;let indexOfelement=index">
                <td> {{indexOfelement+1}} </td>
                <td>{{paso}}</td>
                <td>
                  <img *ngIf="receta.esEditablePor(usuarioLogueado)" (click)="eliminarPaso(paso)" class="img-eliminar"
                    src="../../../assets/imagenes/eliminar.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
      <section class="colaboradores-contenedor">
        <div class="espacio">
          <b>Colaboradores</b>
          <button *ngIf="receta.esEditablePor(usuarioLogueado)" class="button button-escritorio">Agregar</button>
          <button *ngIf="receta.esEditablePor(usuarioLogueado)" class="button-mobile">
            <img class="signo-mas" src="assets/imagenes/plus-circle-solid.svg">
          </button>
        </div>
        <div class="tabla-contenedor">
          <table class="tabla-colaboradores">
            <tr>
              <th>Nombre</th>
            </tr>
            <tr *ngFor="let colaborador of receta.colaboradores">
              <td>
                <div class="horizontal">
                  <div class="centrado">{{colaborador.nombreYApellido}}</div>
                  <div>
                    <img *ngIf="receta.esEditablePor(usuarioLogueado)" (click)="eliminarColaborador(colaborador)"
                      class="img-eliminar" src="../../../assets/imagenes/eliminar.png">
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </section>
      <section class="aceptar-cancelar">
        <div>
          <button (click)="guardarCambios()" *ngIf="receta.esEditablePor(usuarioLogueado)"
            class="button">Aceptar</button>
          <button (click)="cancelarCambios()" class="button-cancelar">Cancelar</button>
        </div>
      </section>
    </section>
  </div>
</div>