<article>
  <main>
    <div class="main_container">
      <div class="main_contenidos">
        <div class="main_titulo">
          <div class="main_titulo_texto">Alimentos</div>
        </div>
        <form class="tabla_container">
          <div class="tabla-contenido">
            <app-tabla [encabezado]="'Alimento'" [elementos]="alimentos"></app-tabla>
          </div>
          <div class="tabla_alimentos_botones">
            <app-primary-button [nombre]="'Aceptar'"></app-primary-button>
            <app-secondary-button [nombreSecondary]="'Cancelar'"></app-secondary-button>
          </div>
        </form>
      </div>
    </div>
  </main>
</article>