
.tabla-alimentos {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.8em;
}

.tabla-alimentos th {
    background-color: var(--color-secundario);
    color: white;
    padding: 0.5rem 0;
}

.tabla-alimentos tr td {
    border-top: 0.1em solid var(--color-secundario);
    padding: 0.5rem 0;
}

.tabla-contenido {
    margin: 1.5em 3.4em;
    border: 0.1em solid var(--color-secundario);
    overflow-y: scroll;
}