
:root {
    --color-primario: #ff8466;
    --color-secundario: #ffda90 ;
    --fuente-default: 'Baloo Tamma 2', cursive;
    --borde-default: 3px solid var(--color-secundario);
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    font-size: 100%;
    font-family: var(--fuente-default);
    line-height: 1.5;
    background-color: var(--color-primario);
}

.main-form {
    background-color: white;
    border: var(--borde-default);
    border-radius: 10px;
    padding: 0.4rem 0.4rem 1.6rem 1.8rem;
    width: 15rem;
    margin: 9.9rem 9rem 10rem 30rem;
}

.main-footer { 
    background-color:#868584;
    color: white;
}

.main-form__titulo {
    color: red;
    font-family: Brush Script MT;
}

.main-form__input {
    border-color: #fff5a5;
    font-family: var(--fuente-default);
}

.main-form__button {
    background-color: var(--color-primario);
    color: white;
    border-color: var(--color-secundario);
    border-radius: 0.5em;
    font-family: var(--fuente-default);
    font-size: 0.8em;
    padding: 0.1em 1.2em;
    margin: 1.2em 0.5em 0.5em 2em;
}