
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    font-family: var(--fuente-default);
    line-height: 1.5;
    background-color: var(--color-cuaternario);
    box-sizing: border-box;
    margin: 0;
    
}

.main-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: var(--borde-default);
    border-radius: 10px;
    width: auto;
    max-height: 40%;
    align-self: center;
    padding: 2rem;
    font-size: 1.6em;
}

.main-form__titulo {
    color: var(--color-secundario);
    font-family: 'Lobster', cursive;
    -webkit-text-stroke: 0.5px black; /* esto hace el texto con bordes */
    grid-area: titulo;
    align-self: center;
    font-size: 4rem;
}

.input-usuario {
    grid-area: usuario;
}

.input-password {
    grid-area: password;
}

.button-ingresar {
    grid-area: ingresar;
    width: 6em;
    height: 2em;
    margin-top: 1em;;
    border-radius: 0.5em;
    background-color: var(--color-botonprofe);
    color: white;
    border: 0.15em solid #e2711d;
    border-radius: 0.5em;
}

.button-ingresar:hover {
    filter: brightness(75%);
}

.main-form__label {
    font-family: var(--tipografia);
}

.main-form__input {
    border: 2px solid var(--color-terciario);
    font-family: var(--fuente-default);
    width: -moz-available;
}

.main-footer { 
    position: fixed;
    bottom: 0;
    width: 100vw;
}
