
.img-fajita {
    width: 10em;
    height: auto;
    border-radius: 0.5em;

}

.contenedor {
    display: flex;
    justify-content: center;
    font-size: 2rem ;
}

.contenidos {
    margin: 2em 0;
    /* border : 2px solid blue; */
    width: 45em ;
}

.titulo-contenedor {
    background-color: var(--color-terciario);
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
}

.descripcion {
    text-align: right;
    margin-right: 1em ;
}

.titulo {
    font-size: 1.5em;
    font-weight: 600;
}

.autor {
    font-size: 0.8em;
    margin-bottom: 2em;
}

.inadecuado {
    font-size: 0.8em ;
}

.editar-contenedor {
    background-color: white;
    padding-bottom: 1em;
}

.inputs-contenedor {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.calorias {
    font-size: 0.8em;
    font-weight: 800;    
}

.dificultad {
    font-size: 0.8em;
    font-weight: 800;
}

.input {
    width: 10em;
    height: 2em;
    padding: 0em;
    border: 0.15em solid var(--color-terciario) ;
    box-sizing: border-box;
    font-size: 1em;
}

.tablas-contenedor {
    display: flex;
    justify-content: space-evenly;
}

.separacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.tabla{
    font-size: 0.8em;
}

.img-eliminar {
    width: 1.5em;
    height: 1.5em;
}

.ancho-columna {
    width: 8em ;
}

.tabla-pasos {
    width: 25em;
}

.espacio {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 3.4em;
}

.tabla-contenedor {
    height: 4em; 
    margin: 1.5em 3.4em;
    border: 0.1em solid var(--color-secundario);
    overflow-y: scroll; 
}

.tabla-colaboradores {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.8em;
}

.tabla-colaboradores th {
    background-color: var(--color-secundario);
    color: white;
}

.tabla-colaboradores tr td {
    border-top: 0.1em solid var(--color-secundario);
}

.aceptar-cancelar {
    margin: 1.5em 3.4em;
    display: flex;
    justify-content: flex-end;

}

.horizontal {
display: flex;
}

.centrado {
    margin: auto;
}

/* media queries para table*/

@media all and (min-width: 769px) and (max-width: 940px){
    .contenidos {
        width: 36em;
    }    
}

@media all and (min-width: 401px) and (max-width: 768px){
    .contenidos {
        width: 37em;
        font-size: 0.5em;
    }
}

@media all and (max-width: 400px) {
    .inadecuado b {
        display: none;
    }

    .contenidos {
        width: 20em;
        font-size: 0.8em;
    }

    .inputs-contenedor, .tablas-contenedor {
        flex-direction: column;
    }

    .tabla {
        margin-bottom: 1em;
    }

    .input {
        margin-bottom: 1em; 
    }

    


}





