.card_grid_item {
    padding: 1rem 0 1rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    background-color: white;
}

.edicion_eliminar {
    border: var(--border-default);
}

.info_receta_container {
    display: flex;
    justify-content: flex-start;
}

.info_receta_container>img {
    width: 8rem;
    height: 8rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.info_receta_descripcion {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    justify-content: center;
    margin: 0 0.5rem 0 1rem;
}

.info_receta_titulo {
    width: 15rem;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.info_receta_titulo:hover {
    color: var(--color-secundario);
}

.info_receta_extra {
    display: flex;
    justify-content: space-between;
}

.info_receta_descripcion_texto {
    margin-top: 0.5rem;
    font-size: 1.4rem;
}

.info_receta_descripcion_extra {
    display: flex;
    justify-content: space-between;
}

.info_receta_descripcion_iconos {
    display: flex;
    flex-direction: column;
}

.info_receta_descripcion_iconos>img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.1rem;
    cursor: pointer;
}

.info_receta_descripcion_iconos>img:hover {
    filter: brightness(75%);
}