<div class="main-contenido">
    <form class="main-form">
        <section class="main-form__header">
            <div>
                <h2 class="main-form__header-h2">{{ usuario.nombreYApellido }}</h2>
                <span class="form__imc">IMC: {{ usuario.indiceMasaCorporal() | number:'1.1-3' }}</span>
            </div>
            <div class="main-form__state">
                <img src="assets/imagenes/heart.svg" class="image-heart" alt="image" width="40px" height="40px">        
                <span class="main-form__state-text">{{ getStatus() }}</span>
            </div>
        </section>
        <section class="main-form__regular-inputs">
                    <div class="main-form__label-and-input--column">
                        <div class="main-form__label-and-input">
                            <label for="peso">Peso (kgs.)</label>
                            <input [(ngModel)]="usuario.peso" class=" main-form__input" name="peso" id="peso" type="number" min="20" max="300" placeholder="introducir peso">
                        </div>
                        <div class="main-form__label-and-input">
                            <label for="estatura">Estatura</label>
                            <input [(ngModel)]="usuario.estatura" class="main-form__input" name="estatura" id="estatura" type="number" min="1.1" max="2.5" step="0.1" placeholder="introducir estatura">
                        </div>
                    </div>
                    <div class="main-form__label-and-input--column input-bottom">
                        <div class="main-form__label-and-input">
                            <label for="nacimiento">Nacimiento</label>
                            <input [(ngModel)]="fecha" class="main-form__input" name="nacimiento" id="nacimiento" type="date" placeholder="fecha de nacimiento">
                        </div>
                        <div class="main-form__label-and-input">
                            <label for="rutina">Rutina</label>
                            <select [(ngModel)]="usuario.rutina" class="main-form__input" name="rutina" id="rutina">
                                <option *ngFor="let opcion of opcionesRutina">{{ opcion }}</option>
                            </select>
                        </div>
                    </div>
        </section>
        <section class="main-form__condiciones">
            <h3>Condiciones</h3>
            <div class="main-form__checkboxes">
                <div class="checkboxes-start">
                    <app-condicion-alimenticia [descripcion]="'Diabetico'"></app-condicion-alimenticia>
                    <app-condicion-alimenticia [descripcion]="'Hipertenso'"></app-condicion-alimenticia>
                </div>
                <div class="checkboxes-middle">
                    <app-condicion-alimenticia [descripcion]="'Celiaco'"></app-condicion-alimenticia>
                    <app-condicion-alimenticia [descripcion]="'Vegetariano'"></app-condicion-alimenticia>
                </div>
                <app-condicion-alimenticia [descripcion]="'Vegano'"></app-condicion-alimenticia>
            </div>
        </section>
        <section class="main-form__alimentos">
                <div class="main-form__table-and-title">
                    <div class="table__title-and-button">
                        <h4>Alimentos preferidos</h4>
                        <app-primary-button class="main-form__buttom-table" [nombre]="'Agregar'"></app-primary-button>
                    </div>
                    <app-tabla [encabezado]="'Alimento'" [elementos]="alimentosPreferidos"></app-tabla>
                </div>
                <div class="main-form__table-and-title">
                    <div class="table__title-and-button">
                        <h4>Alimentos no preferidos</h4>
                        <app-primary-button class="main-form__buttom-table" [nombre]="'Agregar'"></app-primary-button>
                    </div>
                    <app-tabla [encabezado]="'Alimento'" [elementos]="alimentosPreferidos"></app-tabla>
                </div>
        </section>
        <section class="bottom-section">
            <h5>Mis recetas</h5>
            <div class="main-form__recetas">
                <div class="card_grid_item edicion_eliminar">
                    <div class="info_receta_container">
                        <img src="../imagenes/asado_al_asador.jpg" alt="Asado al asador">
                        <div class="info_receta_descripcion">
                            <div class="info_receta_titulo">Asado al asador</div>
                            <div class="info_receta_descripcion_extra">
                                <div class="info_receta_descripcion_texto">Calorías: 300<br>Dificultad: Alta
                                </div>
                                <div class="info_receta_descripcion_iconos">
                                    <img src="../imagenes/edit-regular.svg" alt="Editar">
                                    <img src="../imagenes/trash-alt-solid.svg" alt="Eliminar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card_grid_item edicion_eliminar">
                    <div class="info_receta_container">
                        <img src="../imagenes/asado_al_asador.jpg" alt="Asado al asador">
                        <div class="info_receta_descripcion">
                            <div class="info_receta_titulo">Guiso de lentejas</div>
                            <div class="info_receta_descripcion_extra">
                                <div class="info_receta_descripcion_texto">
                                    Calorías: 520<br>Dificultad: Media
                                </div>
                                <div class="info_receta_descripcion_iconos">
                                    <img src="../imagenes/edit-regular.svg" alt="Editar">
                                    <img src="../imagenes/trash-alt-solid.svg" alt="Eliminar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card_grid_item edicion_eliminar">
                    <div class="info_receta_container">
                        <img src="../imagenes/focaccia2.jpg" alt="Focaccia">
                        <div class="info_receta_descripcion">
                            <div class="info_receta_titulo">Focaccia</div>
                            <div class="info_receta_descripcion_extra">
                                <div class="info_receta_descripcion_texto">Calorías: 200<br>Dificultad: Media
                                </div>
                                <div class="info_receta_descripcion_iconos">
                                    <img src="../imagenes/edit-regular.svg" alt="Editar">
                                    <img src="../imagenes/trash-alt-solid.svg" alt="Eliminar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="buttoms-end-form">
            <app-primary-button [nombre]="'Aceptar'"></app-primary-button>
            <app-secondary-button [nombreSecondary]="'Cancelar'"></app-secondary-button>
        </div>
    </form>
</div>
