
<div class="contenedor">
  <div class="contenidos">
    <section class="titulo-contenedor">
      <img class="img-receta" src= "{{'../../../assets/imagenes/'+ receta.imagen}}">
      <section class="descripcion">
        <div class="titulo">{{receta.nombreDelPlato}}</div>
        <div class="autor">{{receta.autor.nombreYApellido}}</div>
        <div class="inadecuado">
          <b>Inadecuado para </b>
          {{receta.condicionesInadecuadasReceta()}}
        </div>
      </section>
    </section>
    <section class="editar-contenedor">
      <section class="inputs-contenedor">
        <div class="calorias">
          <b>Total de calorias</b>
          <input [(ngModel)]="receta.calorias" class="input" type="number" id="calorias" placeholder="500" max="4000">
        </div>
        <div class="dificultad">
          <b>Dificultad</b>
          <select [(ngModel)]="receta.dificultad" class="input" id="dificultad">
            <option value="FACIL">Facil</option>
            <option value="MEDIA">Media</option>
            <option value="DIFICIL">Dificil</option>
          </select>
        </div>
      </section>
      <section class="tablas-contenedor">
        <div class="ingredientes">
          <div class="separacion">
            <b>Ingredientes</b>
            <button class="button button-escritorio">Agregar</button>
            <button class="button-mobile">
              <img class="signo-mas" src="../imagenes/plus-circle-solid.svg">
            </button>
          </div>
          <div>
            <table class="tabla">
              <tr>
                <td class="ancho-columna">Carne</td>
                <td class="ancho-columna">1/2 Kilo</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>Cebolla</td>
                <td>2 Unidades</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>Pimiento Rojo</td>
                <td>1 Unidades</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>Pimiento Verde</td>
                <td>1 Unidades</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>Harina</td>
                <td>200 gr.</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>Aceite</td>
                <td>1/2 taza</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="pasos">
          <div class="separacion">
            <b>Pasos</b>
            <button class="button button-escritorio">Agregar</button>
            <button class="button-mobile">
              <img class="signo-mas" src="../imagenes/plus-circle-solid.svg">
            </button>
          </div>
          <div>
            <table class="tabla tabla-pasos">
              <tr>
                <td>1</td>
                <td>Cortar la carne en tiras</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Cortar los pimientos y la cebolla en tiras</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Saltear las verduras en aceite </td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Agregar la carne a las verduras</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Condimentar a gusto con sal y especias</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>Hacer la masa de las tortillas</td>
                <td>
                  <img class="img-eliminar" src="../imagenes/eliminar.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
      <section class="colaboradores-contenedor">
        <div class="espacio">
          <b>Colaboradores</b>
          <button class="button button-escritorio">Agregar</button>
            <button class="button-mobile">
              <img class="signo-mas" src="../imagenes/plus-circle-solid.svg">
            </button>
        </div>
        <div class="tabla-contenedor">
          <table class="tabla-colaboradores">
            <tr>
              <th>Nombre</th>
            </tr>
            <tr>
              <td>
                <div class="horizontal">
                  <div class="centrado">Rita Curita</div>
                  <div>
                    <img class="img-eliminar" src="../imagenes/eliminar.png">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="horizontal">
                  <div class="centrado">Narda Carda</div>
                  <div>
                    <img class="img-eliminar" src="../imagenes/eliminar.png">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="horizontal">
                  <div class="centrado">Pablo Picoto</div>
                  <div>
                    <img class="img-eliminar" src="../imagenes/eliminar.png">
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </section>
      <section class="aceptar-cancelar">
        <div>
          <button class="button">Aceptar</button>
          <button class="button-cancelar">Cancelar</button>
        </div>
      </section>
    </section>
  </div>
</div>
