:host {
    --color-secundario-texto: white;
    --color-background-form: var(--color-secundario-texto);
}

body {
    height: 100vh;
    margin:0;
    box-sizing: border-box;
    display: flex;
    font-family: var(--tipografia);
    /* line-height: 1.5; */
    background-color: var(--color-cuaternario);
    flex-direction: column;
    justify-content: space-between;
}

.main-contenido {
    display: flex;
    justify-content: center;
    grid-area: contenido;
}


.main-form {
    background-color: var(--color-background-form);
    border-radius: 3rem;
    width: 90%;
    height: auto;
    margin: 1em;
}

.main-form__header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-terciario);
    border-top-left-radius: 3.2rem;
    border-top-right-radius: 3.2rem;
    padding: 1.6rem 3.2rem 1.6rem 2.4rem;
    height: 6rem;
}

.main-form__header-h2 {
    margin: 0;
    font-size: 3rem;
}

.form__imc {
    font-size: 1.5em;
    font-weight: bold;
}

.main-form__state {
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-width: 18em;
    background-color: var(--color-terciario);
}

.main-form__state-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0 0 1em;
    min-width: 8em;
}

.main-form__regular-inputs {
    display: flex;
    justify-content: space-evenly;
    padding: 2.08em;
}

.main-form__input {
    border-radius: 0.3em;
    border-color: var(--color-secundario);
    max-height: 1.5em;
    margin: 0 1em;
    width: 58%;
}

h3 {
    font-size: 1.7em;
}

.main-form__input--checkbox {
    border-radius: 0.5em;
    
}

.main-form__condiciones {
    display:flex;
    flex-direction: column;
    margin: 0rem 3.2rem;
}

.main-form__checkboxes {
    border-radius: 0.8rem;
    padding: 1.6rem 1.6rem;
    border: 2px solid var(--color-secundario);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-form__label-and-chkbx {
    display: flex;
    font-size: 1.4em;
}

.checkboxes-start {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: start;
    height: 5em;
    justify-content: space-between;
}

.checkboxes-middle {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: start;
    height: 5em;
    justify-content: space-between;
}

h4 {
    font-size: 1.6em;
    min-width: 12em;
}

.main-form__alimentos {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0 2em 0;
}

.main-form__table-and-title {
    width: 40%;
}

.table__title-and-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.main-form__buttom-table {
    align-self: center;
}

.main-form__table {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cell-header-table"
    "cell-item-1-table"
    "cell-item-2-table";
    border-color: var(--color-secundario);
    border-style: solid;
    border-radius: 0.5rem;
    font-size: 1.4em;
}

.header-table {
    grid-area: cell-header-table;
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
    padding: 0.2em;
    margin: 0.3em;
    border-color: var(--color-secundario);
    color: white;
    font-weight: bold;
}

.item-1-table {
    grid-area: cell-item-1-table;
}

.item-2-table {
    grid-area: cell-item-2-table;
}

.item-table {
    padding: 0.2em;
    margin: 0.3em;
    border-color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-radius: 1em;
}

.item-table__span {
    position: relative;
    left: 41%;
}

h5 {
    margin: 0em 0em 0em 3em;
    font-size: 1em;
    position: relative;
    left: 5%;
}

h6 {
    font-size: 0.8em;
}

.main-form__recetas {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em;
}

.image-buttom__table {
    width: 2em;
    height: 2em;
}

.image-buttom__table:hover {
    filter: brightness(75%);
}    

.image-buttom:hover {
    filter: brightness(75%);
}

.buttoms-end-form {
    display: flex;
    width: 95%;
    justify-content: end;
    height: 4em;
}

.main-form__label-and-input {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.main-form__label-and-input--column {
    display: flex;
    flex-direction: column;
    height: 6.4rem;
    justify-content: space-between;
    width: 30%;
}

.bottom-section {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
}

.image-heart {

}

.input-bottom {

}

.contenedor-tabla {
    height: 14rem;
}

@media (max-width:768px) {
    .main-form__recetas {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .main-form {
        height: auto;
    }
}

@media (max-width:940px) {
    .main-form__recetas {
        font-size: 90%;
    }
}

@media (max-width:850px) {
    .main-form__recetas {
        font-size: 85%;
        position: relative;
        left: 5%;
    }

    .main-form__label-and-input--column {
        width: 45%;
    }
}

@media (max-width:766px) {
    .main-form__recetas {
        font-size: 100%;
    }

    .main-form__table-and-title {
        width:45%;
    }
}

@media (max-width:647px) {
    .main-form__recetas {
        font-size: 90%;
    }

    .main-form__alimentos {
        flex-direction: column;
        position: relative;
        left: 5%;
        max-width:90%;
    }

    .main-form__table-and-title {
        width: 100%;
    }
}

@media (max-width:584px) {
    body {
        font-size: 85%;
    }

    .main-form__state {
        width: 14em;
        justify-content: space-evenly;
    }
}

@media (max-width:552px) {
    .main-form__recetas {
        justify-content:center;
    }


}

@media (max-width:529px) {
        body {
        min-width: 100vw;
    }

    .main-form__recetas {
        justify-content:center;
    }
}

@media (min-width:1px) and (max-width:400px) {
    .image-heart {
        height: 3em;
        width: 3em;
        position: relative;
        left: 7%;
    }

    .main-form__state {
        position: relative;
        top: 50%;
        right: 50%;
        height: 3em;
    }

    .form__imc {
        position: relative;
        top: 10%;
    }

    .main-form__header-h2 {
        margin: 0;
        font-size: 2rem;
        width: 11em;
    }

    .main-form__regular-inputs {
        flex-direction: column;
    }

    .main-form__label-and-input--column {
        width: -moz-available;
        height: 5.5em;
    }

    .main-form__label-and-input {
        width: -moz-available;
    }

    .input-bottom {
        margin-top: 1em;
    }

    .main-form__condiciones {
        margin: 0rem 1.2rem;   
    }

    .main-form__checkboxes {
        padding: 0.5rem 0.5rem;
    }

    .main-form__table-and-title {
        margin-top: 2em;
    }

    html {
        font-size: 11px;
    }

    h5 {
        font-size: 1.5em;
    }
    
    .main-form__label-and-input {
        font-weight: bold;
    }

    .main-form__label-and-chkbx {
        font-size: 1.5em;
    }

    .header-table {
        font-size: 1.2em;
    }

    .item-table__span {
        font-size: 1.2em;
    }
    /* ------------------------------------------------ */
    .card_grid_item {
        width: 85%;
    }

    .info_receta_descripcion_texto {
        font-size: 1.1em;
    }

    .info_receta_titulo {
        font-size: 1.6em;
    }
}
