<div class="main-contenido">
    <form class="main-form">
        <section class="main-form__header">
            <div>
                <h2 class="main-form__header-h2">{{ usuario.nombreYApellido }}</h2>
                <span data-testid="imc" class="form__imc">IMC: {{ usuario.indiceMasaCorporal() | number:'1.1-3' }}</span>
            </div>
            <div class="main-form__state">
                <img src="assets/imagenes/heart.svg" class="image-heart" alt="image" width="40px" height="40px">
                <span class="main-form__state-text">{{ getStatus() }}</span>
            </div>
        </section>
        <section class="main-form__regular-inputs">
            <div class="main-form__label-and-input--column">
                <div class="main-form__label-and-input">
                    <label for="peso">Peso (kgs.)</label>
                    <input [(ngModel)]="usuario.peso" class=" main-form__input" name="peso" id="peso" type="number"
                        min="20" max="300" placeholder="introducir peso">
                </div>
                <div class="main-form__label-and-input">
                    <label for="estatura">Estatura</label>
                    <input [(ngModel)]="usuario.estatura" class="main-form__input" name="estatura" id="estatura"
                        type="number" min="1.1" max="2.5" step="0.1" placeholder="introducir estatura">
                </div>
            </div>
            <div class="main-form__label-and-input--column input-bottom">
                <div class="main-form__label-and-input">
                    <label for="nacimiento">Nacimiento</label>
                    <input [(ngModel)]="usuario.fechaDeNacimiento" class="main-form__input" name="nacimiento" id="nacimiento" type="date"
                        placeholder="fecha de nacimiento">
                </div>
                <div class="main-form__label-and-input">
                    <label for="rutina">Rutina</label>
                    <select [(ngModel)]="usuario.rutina" class="main-form__input" name="rutina" id="rutina">
                        <option *ngFor="let opcion of opcionesRutina">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="main-form__condiciones">
            <h3>Condiciones</h3>
            <div class="main-form__checkboxes">
                <div class="checkboxes-start">
                    <app-condicion-alimenticia [descripcion]="'Diabetico'"></app-condicion-alimenticia>
                    <app-condicion-alimenticia [descripcion]="'Hipertenso'"></app-condicion-alimenticia>
                </div>
                <div class="checkboxes-middle">
                    <app-condicion-alimenticia [descripcion]="'Celiaco'"></app-condicion-alimenticia>
                    <app-condicion-alimenticia [descripcion]="'Vegetariano'"></app-condicion-alimenticia>
                </div>
                <app-condicion-alimenticia [descripcion]="'Vegano'"></app-condicion-alimenticia>
            </div>
        </section>
        <section class="main-form__alimentos">
            <div class="main-form__table-and-title">
                <div class="table__title-and-button">
                    <h4>Alimentos preferidos</h4>
                    <app-primary-button [routerLink]="['/agregarAlimentoPreferido']" class="main-form__buttom-table"
                        [nombre]="'Agregar'"></app-primary-button>
                </div>
                <div class="contenedor-tabla">
                    <app-tabla [encabezado]="'Alimento'" [elementos]="alimentosPreferidos"
                        (buttonClicked2)="recibirAlimento($event)"></app-tabla>
                </div>
            </div>
            <div class="main-form__table-and-title">
                <div class="table__title-and-button">
                    <h4>Alimentos no preferidos</h4>
                    <app-primary-button [routerLink]="['/agregarAlimentoDisgustado']" class="main-form__buttom-table"
                        [nombre]="'Agregar'"></app-primary-button>
                </div>
                <div class="contenedor-tabla">
                    <app-tabla [encabezado]="'Alimento'" [elementos]="alimentosDisgustados"
                        (buttonClicked2)="recibirAlimento($event)"></app-tabla>
                </div>
            </div>
        </section>
        <section class="bottom-section">
            <h5>Mis recetas</h5>
            <div class="main-form__recetas">
                <app-card-receta *ngFor="let receta of recetas | recetaFilter: isChecked: usuario"
                    [receta]="receta" [usuario]="usuario"></app-card-receta>
            </div>
        </section>
        <div class="buttoms-end-form">
            <app-primary-button (click)="onAccept()" [nombre]="'Aceptar'"></app-primary-button>
            <app-secondary-button (click)="onCancel()" [nombreSecondary]="'Cancelar'"></app-secondary-button>
        </div>
    </form>
</div>