<div class="tabla-contenido">
    <table class="tabla-alimentos">
        <tr>
            <th>{{ encabezado }}</th>
        </tr>
        <tr *ngFor="let elemento of elementos" class="{{colorSeleccionado(elemento)}}"
            (click)="seleccionarAlimento(elemento)">
            <td>
                <div class="horizontal">
                    <div class="centrado">{{ elemento.nombre }}</div>
                    <div>
                        <img *ngIf="perfilDeUsuario()" (click)="eliminarAlimento(elemento)" class="img-eliminar"
                            src="assets/imagenes/eliminar.png">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>