<div class="card_grid_item edicion_eliminar">
  <div class="info_receta_container">
      <img src="assets/imagenes/focaccia2.jpg">
      <div class="info_receta_descripcion">
          <div class="info_receta_titulo">{{receta.nombreDelPlato}}</div>
          <div class="info_receta_descripcion_extra">
              <div class="info_receta_descripcion_texto">Calorías: {{receta.calorias}}<br>Dificultad: {{receta.dificultad}}
              </div>
              <div class="info_receta_descripcion_iconos">
                  <img [routerLink] = "['/receta', receta.id]"src="assets/imagenes/edit-regular.svg" alt="Editar">
                  <img src="assets/imagenes/trash-alt-solid.svg" alt="Eliminar">
              </div>
          </div>
      </div>
  </div>
</div>