/* You can add global styles to this file, and also import other style files */


:root {
  --color-primario: #596475;
  --color-secundario: #9d8189;
  --color-terciario: #e3bac6;
  --color-cuaternario: #fde8e9;
  --color-botones: #1f2232;
  --color-botonprofe: #f79256;
  --tipografia: "Lato", sans-serif;
  --boton-cancelar: #aa4465;
  --ancho-default: 66vw;
  --ancho-mayor: 90vw;
}

html {
  font-family: var(--tipografia);
  font-size: 10px;
  background-color: var(--color-cuaternario);
}

body {
  margin: 0;
}

/* BARRA DE NAVEGACION */

/* .navegacion-contenedor {
  font-size: 2rem;
  color: var(--color-cuaternario);
  background-color: var(--color-primario);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.navegacion {
  width: 45em;
  display: flex;
  justify-content: space-between;
}

.links {
  width: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tamaño-icono-exit {
  width: 1.8em;
  height: auto;
}

.logo {
    height: 2em;
}

.alinear {
    display: flex;
    align-items: center;
}

.nombre-pagina {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
} */