/* You can add global styles to this file, and also import other style files */


:root {
  --color-primario: #596475;
  --color-secundario: #9d8189;
  --color-terciario: #e3bac6;
  --color-cuaternario: #fde8e9;
  --color-botones: #1f2232;
  --color-botonprofe: #f79256;
  --tipografia: "Lato", sans-serif;
  --boton-cancelar: #aa4465;
  --ancho-default: 66vw;
  --ancho-mayor: 90vw;
  --ancho-medio: 85vw;
  --ancho-menor: 50vw;
  --border-menor: 0.1rem solid var(--color-secundario);
  --border-default: 0.2rem solid var(--color-secundario);
}

html {
  font-family: var(--tipografia);
  font-size: 10px;
  background-color: var(--color-cuaternario);
}

body {
  margin: 0;
}

.button-cancelar {
  background-color: var(--boton-cancelar) ;
  color: white;
  border: 0.1rem solid #5f0f40;
  border-radius: 0.6rem;
  width: 7.2rem;
  height: 3rem;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.button-cancelar:hover {
  filter: brightness(75%);
}

.button {
  background-color: var(--color-botonprofe);
  color: white;
  border: 0.1rem solid #e2711d;
  border-radius: 0.6rem;
  width: 7.2rem;
  height: 3rem;
  font-size: 1.2rem;
}

.button:hover {
  filter: brightness(75%);
}

/* BARRA DE NAVEGACION */

/* .navegacion-contenedor {
  font-size: 2rem;
  color: var(--color-cuaternario);
  background-color: var(--color-primario);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.navegacion {
  width: 45em;
  display: flex;
  justify-content: space-between;
}

.links {
  width: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tamaño-icono-exit {
  width: 1.8em;
  height: auto;
}

.logo {
    height: 2em;
}

.alinear {
    display: flex;
    align-items: center;
}

.nombre-pagina {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
} */