<main>
  <div class="main_container">
      <div class="main_contenidos">
          <div class="main_titulo">
              <div class="main_titulo_texto">Ingredientes</div>
          </div>
          <form class="tabla_container">
              <div class="tabla-contenido">
                  <table class="tabla-alimentos">
                      <tr>
                          <th>Ingrediente</th>
                      </tr>
                      <tr>
                          <td>
                              <div>Lentejas</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Cebolla</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Sal</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Pimienta</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Orégano</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Harina</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Pollo</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Ricota</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div>Carne</div>
                          </td>
                      </tr>
                  </table>
              </div>
              <section class="cantidad">
                <b>Cantidad</b>
                <input class="input" type="text" id="cantidad" placeholder="Una cucharita">
             </section>
              <div class="tabla_alimentos_botones">
                  <input class="button" type="submit" id="aceptar" value="Aceptar">
                  <input class="button-cancelar" type="button" id="cancelar" value="Cancelar">
                  <!--autofocus="true">-->
              </div>
          </form>
      </div>
  </div>
</main>