<main>
  <div class="main_container">
      <div class="main_contenidos">
          <div class="main_titulo">
              <div class="main_titulo_texto">Ingredientes</div>
          </div>
          <form class="tabla_container">
              <div class="tabla-contenido">
                  <table class="tabla-alimentos">
                      <tr>
                          <th>Alimento</th>
                      </tr>
                      <tr *ngFor = "let alimento of alimentos" (click)= "seleccionarAlimento">
                          <td>
                              <div>{{alimento.nombre}}</div>
                          </td>
                      </tr>
                  </table>
              </div>
              <section class="cantidad">
                <b>Cantidad</b>
                <input class="input" type="text" id="cantidad" placeholder="Una cucharita">
             </section>
              <div class="tabla_alimentos_botones">
                  <input class="button" type="submit" id="aceptar" value="Aceptar">
                  <button [routerLink] = "['/receta', receta.id]" class="button-cancelar">Cancelar</button>
                  <!--autofocus="true">-->
              </div>
          </form>
      </div>
  </div>
</main>